{% extends "layouts/master.twig" %}

{% block content %}
	<section id="basic-horizontal-layouts">
		<div class="row">
			<div class="col-md-12 col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Penerimaan Pembelian</h4>
					</div>
					<div class="card-body">
						<form class="form form-horizontal" method="post">
							<div class="row">
								<div class="col-md-2">
									<div class="mb-1">
										<label class="col-form-label" for="kode">Kode</label>
										<input type="text" autocomplete="off" id="kode" class="form-control" name="o[kode]" required="true" readonly="true" value="RO-{{time}}"/>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-1">
										<label class="col-form-label" for="po">Pemesanan</label>
										<select id="po" name="o[po_id]" class="form-select" required="true">
											<option value="">Pilih pemesanan</option>
											{% for m in po %}
												<option value="{{m.id}}">{{m.jumlah}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="mb-1">
										<label class="col-form-label" for="tanggal">Tanggal</label>
										<input type="date" autocomplete="off" id="tanggal" class="form-control" name="o[tanggal]" required="true" placeholder="yyyy-mm-dd"/>
									</div>
								</div>
								<div class="col-md-3">
									<div class="mb-1">
										<label class="col-form-label" for="jumlah">Jumlah</label>
										<input type="number" autocomplete="off" id="jumlah" class="form-control" name="o[jumlah]" required="true" placeholder="0" readonly="true"/>
									</div>
								</div>
							</div>
						</form>
					</div>
					<table class="table table-bordered" id="itemTable">
						<thead>
							<tr>
								<th>KODE</th>
								<th>PRODUK</th>
								<th>QTY</th>
								<th>HARGA</th>
								<th>JUMLAH</th>
							</tr>
						</thead>
						<tbody></tbody>
						<tfoot>
							<tr>
								<th colspan="4">TOTAL</th>
								<th id="_total" class="text-end">0</th>
							</tr>
						</tfoot>
					</table>
					<div class="card-body">
						<div class="d-grid">
							<button type="submit" class="btn btn-primary waves-effect">Terima Pesanan</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalToggleLabel">Modal 1</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">Show a second modal and hide this one with the button below.</div>
				<div class="modal-footer">
					<button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
						Open second modal
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}

	<script type="text/javascript">
	$(document).ready(function(){
		var _item = {};
		var _itemdetail = {};
		var po = {{po | raw}}
		var podetail = {{podetail | raw}}
		
		$.each(po, function(i,d) {
			$('#po').append($('<option>').val(d.id).text(d.nama + ' - ' + d.kode));
		});

		$('#po').on('change', function(e) {
			$('#jumlah').val(po[$(this).val()].jumlah);
			e.preventDefault();
			console.log(po)
			_item[$('#po').val()] = {
				'id': po[$(this).val()].id,
				'kode': po[$(this).val()].kode,
				'harga': po[$(this).val()].harga,
				'qty': po[$(this).val()].qty
			};
			itemTable();
		});

		var itemTable = function() {
			let IndoLocale = Intl.NumberFormat('en-ID');
			$('#itemTable tbody').html('');
			var _total = 0;
			$.each(_item, function(i,d) {
				_total += (parseInt(d.qty) * parseInt(d.harga));
				$('#itemTable tbody').append(
					$('<tr>').append(
						$('<td>').text(d.kode)
					).append(
						$('<td>').addClass('text-end').text(d.id)
					).append(
						$('<td>').addClass('text-end').text(IndoLocale.format(d.qty))
					).append(
						$('<td>').addClass('text-end').text(IndoLocale.format(d.harga))
					).append(
						$('<td>').addClass('text-end').text(IndoLocale.format(parseInt(d.qty) * parseInt(d.harga)))
					)
				);	
			});

			$('#_total').text(IndoLocale.format(_total));
			$('#jumlah').val(_total);
			$('#total').val(_total + $('#potongan').val());
		}
		
	});
	</script>

	<script src="{{base_url('app-assets/vendors/js/jquery/jquery.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/datatables.buttons.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/buttons.html5.min.js')}}"></script>
	<script src="{{base_url('app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js')}}"></script>
	<script src="{{base_url('app-assets/js/scripts/tables/table-datatables-basic.js')}}"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{base_url('app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{base_url('app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{base_url('app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{base_url('app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css')}}">
{% endblock %}
